{
  "clientId": "YOURCLIENTID",
  "clientSecret": "YOURCLIENTSECRET",
  "encryptionSecret": "supersecretencryptionkeypassword",
  "redirectUri": "http://YOURHOSTNAME/auth/spotify/callback",
  "appRedirectUri": "redirectUriToMobileApp"
}
