extends layout

block content 
    
    #background(style="background-image: url('/styles/images/queueup_triangles_1280.png')")
      
    div This page does not exist
    
    .footwrap
      a(href="http://louiswilliams.org" target="_blank") Louis Williams
      span  2015
