extends layout

block content
  h2 Import a playlist

  ul.listing#playlist_listing
    each playlist in playlists
      a.list_item(href="#{playlist.external_urls.spotify}")
        .list_item_image
          if playlist.images.length > 0
            img(src=playlist.images.pop().url, width=64, height=64)
        .list_item_title= playlist.name
        .list_item_desc= playlist.owner.id

