extends layout

block content 
    .logo.logo_white


    h2 Hot Playlists
    #playlist_listing
      each playlist in playlists
        a.list_item(href="/playlist/" + playlist._id + "/" + playlist.key)
          .list_item_image
            if playlist.current && playlist.current.album.images.length > 0
              img(src=playlist.current.album.images.pop().url height=64 width=64)
          .list_item_title
            | #{playlist.name} 
            if playlist.play
              .playlist_listing_status Playing
          .list_item_desc
            if playlist.current
              | #{playlist.current.name} by #{playlist.current.artists[0].name}
    
    h3
      a.new_playlist(href="/user") Create New Playlist
