extends layout



block content 
    
    #background(style="background-image: url('" + albumArt + "')")
      
    #alert
    #playlist_listing
      #get_app
        .list_item
          .list_item_image
          .list_item_title
            a(href="/") Get the app to host a playlist!
            a.get_app_question.fa.fa-question-circle(href="#")
      each playlist in playlists
        a.list_item(href="/playlist/" + playlist._id + "/" + playlist.key)
          .list_item_image
            if playlist.current && playlist.current.album.images.length > 0
              img(src=playlist.current.album.images.pop().url height=64 width=64)
          .list_item_title
            | #{playlist.name} 
            if playlist.play
              .playlist_listing_status Playing
          .list_item_desc
            if playlist.current
              | #{playlist.current.name} by #{playlist.current.artists[0].name}
    
    .footwrap
      a(href="http://louiswilliams.org" target="_blank") Louis Williams
      span  2015
