doctype
html
  head
    meta(name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no")
    title #{title} - QueueupServer
    script(src="/javascripts/jquery.js")
    link(rel="stylesheet" href="/styles/layout.css")
    link(rel="stylesheet" href="/styles/font-awesome.css")
  body
    block content
