extends layout

block content
          
    h2= "My Playlists"

    ul
      each playlist in playlists
        li
          a(href="/playlist/" + playlist._id + "/" + playlist.key)= playlist.name

    h2= "Create playlist"

    form#clientform(action="new" method="POST")
      .submitwrap
        input(type="text" name="playlist_name" placeholder="Name")
        input(type="submit" value="Create")
