body{
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
}

#search{

}

#searchbox{

}

.searchresult{
  height: 64px;
  margin: 5px 5px 5px 0px;
}

.searchresult .albumart {
  height: 64px;
  width: 64px;
  margin-right: 10px;
  float: left;
}

.searchresult .trackname {
  padding-top: 8px;
}
.searchresult .artistname {
  padding-top: 8px;
}
