@media (max-width : 419px) {

  body {
    font-size: 10pt;
  }

  #background {
    display: none !important;
  }

  #wrap {
    width: 320px;
  }

  #searchwrap, #searchresults, #queue {
    width: 300px;
  }

  #current {
    width: 300px;
    height: 300px;
  }

  .track .albumart, .track .albumart img {
    height: 48px !important;
    width: 48px !important;
  }

  .logo {
    width: 300px !important;
    height: 55px !important;
  }
}

@media (min-width : 420px) and (max-width: 639px) {

  body {
    font-size: 13pt;
  }

  #background {
    display: none !important;
  }

  #wrap {
    width: 100%;
  }

  #searchwrap, #searchresults, #queue {
    width: 400px;
  }

  #current {
    width: 400px;
    height: 400px;
  }
}

@media (min-width: 640px) {

  body {
    font-size: 13pt;
  }


  #searchwrap, #searchresults, #queue {
    width: 400px;
  }

  #wrap {
    width: 600px;
  }

  #current {
    width: 400px;
    height: 400px;
  }
}

body{ 
  margin: 0px;
  padding: 0px;
  font-family: Sans-Serif;
  background: #eeeeee;
  color: #111;
}

a {
  color: #ddd;
  text-decoration: none;
}

a:hover{
  text-decoration: underline;  
}

#background {
  position: fixed;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  background: #222;
  z-index: -3;
  -webkit-filter: blur(10px);
  background-size: cover;
  background-position: top center;
  background-attachment: fixed;
}

#wrap {
  text-align: center;
  background: rgba(0,0,0,0.75);
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 30px;
  margin-top: -1px;
  overflow: auto;
  padding-top: 1px;
}

#wrap.white {
  background: #fff;
  box-shadow: rgba(0,0,0,0.5) 0px 1px 1px 0px;
}

.page_header {
  color: #fff;
  background: #222;
  height: 22px;
  padding: 10px 15px;
}

.page_header .playlist_nav{
  display: inline;
  float: left;
}

.page_header .user_nav{
  display: inline;
  float: right;
}

.user_header {
  display: inline;
  color: #84BD00;
}

#playlist_name {
  margin: 10px 0px;
}

#current {
  background-color: #000;
  background-size: cover;
  color: #eee;
  white-space: normal;
  /*text-shadow: rgba(0,0,0,0.7) 1px 1px 5px;*/
  margin-bottom: 15px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  box-shadow: rgba(0,0,0,0.5) 1px 1px 3px 0px;
}


#current_title {
  background: rgba(0,0,0,0.5);
  width: 100%;
  position: absolute;
  bottom: 10px;
}

#current_name {
  font-size: 1.5em;
  padding: 5px 0px;
}

#current_artist {
  font-size: 1.1em;
  padding: 3px 0px 5px 0px;

}
#volumewrap {
  position: absolute;
  top: 20px;
  width: 100%;
}

#volume {
  text-shadow: rgba(0,0,0,1) 1px 1px 4px;
}

.content {
  height: 300px;
}

#album {
  position: relative;
  height: 300px;
} 

#albumart{
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -2;
  box-shadow: rgba(0,0,0,0.3) 3px 3px 5px 1px;
}

#status a {
  font-size: 2.5em;
  color: #eee;
  margin: 5px 30px;
  text-decoration: none;
  /*text-shadow: rgba(0,0,0,1) 1px 1px 7px;*/
  z-index: -1;
}


#searchwrap {
  text-align: center;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding: 5px 0px 25px 0px;
}

#searchbox{
  border: 0px;
  border-radius: 4px;
  padding: 8px 12px;
  height: 1.2em;
  background: #fff;
  box-shadow:  rgba(0,0,0,0.5) 1px 1px 3px 0px;
  position: relative;
}


#searchbox .fa-close {
  position: absolute;
  top: 9px;
  right: 8px;
  font-size: 1em;
  text-decoration: none;
  color: #333;
}

#searchbox input {
  border-radius: 4px;
  position: absolute;
  top: 1px;
  left: 0px;
  font-size: 1em;
  width: 100%;
  border: 0px;
  background: none;
  padding: 7px 8px;
}

#searchresults {
  display: none;
  position: absolute;
  top: 39px;
  left: 0px;
  z-index: 10;
  background: rgb(255,255,255);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: rgba(0,0,0,0.5) 0px 1px 2px 0px;
}

.track{
  border-bottom: 1px solid #ddd;
  display: block;
  height: 4em;
  margin: 0px 10px;
  padding: 8px 0px;
  text-align: left;
  color: #333;
}

.track:last-child {
  border-bottom: 0px;
}

a.track {
  text-decoration: none;
}

a.track:hover{
  text-decoration: underline;
}

.search_next {
  display: block;
  color: #888;
  padding-bottom: 5px;
  padding-top: 5px;
  width: 100%;
  /*border-top: 1px solid #ddd;*/
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.search_next:hover{
  color: #000;
  background: #ddd;
}

.search_prev {
  display: block;
  color: #888;
  padding-bottom: 5px;
  padding-top: 5px;
  width: 100%;
  border-bottom: 1px solid #ddd;
}

.search_prev:hover{
  color: #000;
  background: #ddd;
}

.track .albumart {
  height: 64px;
  width: 64px;
  background: #000;
  background-size: cover;
  margin-right: 10px;
  margin-top: 5px;
  float: left;
}

.track .trackname {
  padding-top: 12px;
  font-size: 1em;
}

.track .artistname {
  padding-top: 8px;
  font-size: 0.8em;
}

.info {
  background: rgba(0,0,0,0.7);
  color: #eee;
  box-shadow: rgba(0,0,0,0.2) 1px 1px 1px 1px;
  font-size: 14pt;
  display: inline-block;
}

#queue {
  margin: 10px auto;
  background: rgb(255,255,255);
  border-radius: 5px;
  border-radius: 5px;
  padding: 5px 5px 10px 5px;
  box-shadow: rgba(0,0,0,0.5) 0px 1px 2px 0px;
}

h1, h2, h3, h4, h5, h6 {
  color: #fff;
}

form {
  width: 100%;
  text-align: center;
}

form input{
  padding: 8px;
  margin: 5px auto;
  font-size: 1em;
  background: #fff;
  border: 1px solid #bbb;
  border-radius: 4px;
  margin: 3px;
  box-shadow: rgba(0,0,0,0.1) 1px 1px 1px 0px;
}

.button {
  padding: 8px;
  margin: 5px auto;
  font-size: 1em;
  border: 1px solid #bbb;
  border-radius: 4px;
  margin: 3px;
  box-shadow: rgba(0,0,0,0.1) 1px 1px 1px 0px;
  background: #fff;
}

.import_from_playlist {
}

form input[type="submit"]{
  box-shadow: rgba(0,0,0,0.1) 1px 1px 1px 0px;
  background: #fff;
}

form .submitwrap input[type="text"]{
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  margin-right: 0px;
  border-right: 0px;
}

form .submitwrap input[type="submit"]{
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  margin-left: 0px;
}

.provider {
  display: inline-block;
  background: #fff;
  padding: 0px 15px;
  border-radius: 5px;
  border: 1px solid #d8d8d8;
  text-decoration: none;
  font-weight: bold;
  font-size: 1em;
  margin: 0px 10px;
}

.provider .fa {
  display: inline-block;
  vertical-align: middle;
  margin: 0px 20px 0px 0px;
  font-size: 2em;
}

.provider .label {
  display: inline-block;
  line-height: 3em;
}

.google {
  color: #db4c3f;
}

.facebook {
  color: #3B5998;
}

.logo {
  background-image: url("/images/queueup_logo.png");
  background-size: contain;
  width: 400px;
  height: 73px;
  margin: 50px auto 50px auto;
}

.logo_white {
  background-image: url("/images/queueup_logo_white.png");
}

.dark {
  color: #333;
}